<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add categories page</h1>
<form method="POST" action="{% url 'save_Catgory_DB' %}" enctype="multipart/form-data">
     {% csrf_token %}
<div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Forms</h5>
              <div class="card">
                <div class="card-body">
                  <form>
                    <div class="mb-3">
                      <label  class="form-label">Category Name</label>
                      <input type="text" class="form-control" name="tcatname">
                      <div  class="form-text">Enter category here </div>
                    </div>
                    <div class="mb-3">
                      <label class="form-label">upload image1</label>
                      <input type="file" class="form-control" name="timage1" >
                    </div>
                    <div class="mb-3">
                      <label class="form-label">upload image2</label>
                      <input type="file" class="form-control" name="timage2" >
                    </div>
                     <div class="mb-3">
                      <label class="form-label">upload image3</label>
                      <input type="file" class="form-control" name="timage3"  >

                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

      </div>
</form>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'success' %}
            <script>
                swal('{{i}}','work aayi','success');
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}','','error');
            </script>
        {% elif i.tags == 'warning' %}
            <script>
                swal('{{i}}','','warning');
            </script>
        {% else %}
            <script>
                swal('{{i}}','','info');
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>
{% endblock %}